name = "second-brain-app"
main = "src/index.ts"
compatibility_date = "2024-05-29"
assets = { directory = "../web/dist", binding = "ASSETS" }

# Database
[[d1_databases]]
binding = "DB"
database_name = "second-brain-db"
database_id = "999f6469-04df-4b79-982e-3351bc20e3dd"
migrations_dir = "../../drizzle/migrations"

# KV Store
[[kv_namespaces]]
binding = "CACHE"
id = "eec49951f2ce43f199d2f019ac06aea4"

# R2 Bucket for drawing assets
[[r2_buckets]]
binding = "DRAWING_ASSETS"
bucket_name = "second-brain-drawing-assets"

# R2 Bucket for trip planner images
[[r2_buckets]]
binding = "TRIP_IMAGES"
bucket_name = "second-brain-trip-images"

# Environment variables
[vars]
ENVIRONMENT = "production"
FRONTEND_URL = "https://2b.thitiphon.me"

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true
